/node_modules
/vendor
/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep
/.env
/.env.backup
/.phpunit.result.cache
/storage/*.key
/database/*.sqlite
/storage/app/private
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
/public/hot
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.vercel
