/node_modules
/vendor
/.env
/.env.backup
/.phpunit.result.cache
/storage/*.key
/storage/app/private
/storage/framework/cache/data
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/build
/public/hot
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
