<IfModule mod_rewrite.c>
    RewriteEngine On
    DirectoryIndex index.php

    RewriteCond %{DOCUMENT_ROOT}/laravel1/public/$1 -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/laravel1/public/$1 -d
    RewriteRule ^(.+)$ public/$1 [L]

    RewriteRule ^ index.php [L]
</IfModule>
